@charset "UTF-8";


/* color variables for light and dark mode */
:root[color-mode=light] {
    --primary-color: #20558a;
    --secondary-color: #0b5ed7;
    --primary-color-clear: rgba(33,37,41,0.1);
    --secondary-color-clear: rgba(11,94,215,0.1);
    --background: #fff;
    --view-bg: #fff;
    --modal-bg: rgba(255,255,255,0.92);
    --view-opacity: 1;
    --white: #fff;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --light-font: #f8f9fa;
    --dark-font: #212529;
    --bg-image: url(../_common/header-bg.jpg);
    --bulb: url(../_common/footer/lightbulb-off.svg);
    --filter: none;
    --shadow: 0px 10px 20px #555;
    --title: 10px;
}

:root[color-mode=dark] {
    --primary-color: #78a3cf;
    --secondary-color: #7494b5;
    --primary-color-clear: rgba(120,163,207,0.3);
    --secondary-color-clear: rgba(116,148,181,0.3);
    --background: #121212;
    --view-bg: rgba(255,255,255,0.1);
    --modal-bg: rgba(40,40,40,0.92);
    --view-opacity: .9;
    --white: #fff;
    --light-color: #f8f9fa;
    --dark-color: #212529;
    --light-font: #f8f9fa;
    --dark-font: #f8f9fa;
    --bg-image: url(../_common/header-bg-dark.jpg);
    --bulb: url(../_common/footer/lightbulb.svg);
    --filter: brightness(0.7) constrast(1.1);
    --shadow: 0px 10px 20px #111;
    --title: -55px;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* custom scrollbar setup */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

    ::-webkit-scrollbar-thumb:hover {
        background: var(--secondary-color);
    }

/* dims images in dark mode only */
img, svg {
    filter: var(--filter);
}

svg {
    fill: currentColor;
}


body {
    overflow-y: scroll;
    background-image: var(--bg-image);
    background-color: var(--background);
    background-position: center 3.4em;
    background-repeat: repeat-x;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: .1s all linear;
}

h1 {
    font-size: 70px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    margin-top: var(--title);
    margin-bottom: 40px;
    text-shadow: var(--outline)
}

h4 {
    margin-top: 15px;
    margin-bottom: 20px;
}

ul {
    margin-bottom: 25px;
}

/* styling our navbar links */
#navbarCollapse {
    border-bottom: 3px solid var(--primary-color);
}

    #navbarCollapse * {
        box-sizing: border-box;
        transition: all .35s ease;
    }

    #navbarCollapse h5 {
        color: #f8f9fa;
    }

    #navbarCollapse li {
        display: inline-block;
        text-align: center;
        list-style: outside none none;
        margin: .3em .8em;
        padding: 0;
    }

    #navbarCollapse a {
        padding: .3em .8em;
        position: relative;
        text-decoration: none;
    }

        #navbarCollapse a::before,
        #navbarCollapse a::after {
            content: '';
            height: 20px;
            width: 14px;
            position: absolute;
            transition: all .35s ease;
            opacity: 0;
        }

        #navbarCollapse a::before {
            content: '';
            right: 0;
            top: 0;
            border-top: 3px solid var(--secondary-color);
            border-right: 3px solid var(--secondary-color);
            transform: translate(-100%, 50%);
        }

        #navbarCollapse a::after {
            content: '';
            left: 0;
            bottom: 0;
            border-bottom: 3px solid var(--secondary-color);
            border-left: 3px solid var(--secondary-color);
            transform: translate(100%, -50%)
        }

        #navbarCollapse a:hover:before,
        #navbarCollapse a:hover:after {
            transform: translate(0,0);
            opacity: 1;
        }

        #navbarCollapse a:hover {
            color: var(--secondary-color);
        }
        
/* styling our footbar links */
#footerCollapse {
    border-top: 3px solid var(--primary-color);
}

    #footerCollapse * {
        box-sizing: border-box;
        transition: all .35s ease;
    }

    #footerCollapse h5 {
        color: #f8f9fa;
    }

    #footerCollapse li {
        display: inline-block;
        text-align: center;
        list-style: outside none none;
        margin: .3em .8em;
        padding: 0;
    }

    #footerCollapse a {
        padding: .3em .8em;
        position: relative;
        text-decoration: none;
    }

        #footerCollapse a::before,
        #footerCollapse a::after {
            content: '';
            height: 20px;
            width: 14px;
            position: absolute;
            transition: all .35s ease;
            opacity: 0;
        }

        #footerCollapse a::before {
            content: '';
            right: 0;
            top: 0;
            border-top: 3px solid var(--secondary-color);
            border-right: 3px solid var(--secondary-color);
            transform: translate(-100%, 50%);
        }

        #footerCollapse a::after {
            content: '';
            left: 0;
            bottom: 0;
            border-bottom: 3px solid var(--secondary-color);
            border-left: 3px solid var(--secondary-color);
            transform: translate(100%, -50%)
        }

        #footerCollapse a:hover:before,
        #footerCollapse a:hover:after {
            transform: translate(0,0);
            opacity: 1;
        }

        #footerCollapse a:hover {
            color: var(--secondary-color);
        }


.nav-link {
    cursor: pointer;
}

.dwan-search {
	position: fixed;
	top: 10px;
	left: 80px;
}

.mil-links {
	display: flex;
	padding: 0px 15px;
	flex-grow: 1;
    flex-wrap: inherit;
    justify-content: flex-end;
}
.mil-links a {
	margin: 0px 10px;
	color: var(--light-color);
	text-decoration: none;
}
.mil-links a:hover {
	color: rgba(255,255,255,0.55);
}

/* styling the rest of the app */
.main-content {
    background-color: var(--view-bg);
    width: 75%;
    margin: 200px auto;
    opacity: var(--view-opacity);
    border-radius: 0.2rem;
    perspective: 900px;
}

/* styling the individual components */

.btn-circle {
	position: fixed;
	background-image: var(--bulb);
	background-size: 24px 24px;
	background-position: center;
    background-repeat: no-repeat;
	top: 120px;
	right: 5px;
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 20px;
    line-height: 1.33;
}
.btn-circle:focus {
	outline: none !important;
}


.accordion-button {
    transition: .2s all ease;
}

    .accordion-button:hover {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-left: 8px solid var(--secondary-color);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

.accordion-description {
    flex-basis: 100%;
}

.staff-card {
    border-radius: 0.6rem;
    transition: .2s all ease;
    transform: scale(0.95);
    perspective: 900px;
    box-shadow: var(--shadow);
    z-index: 20;
}

    .staff-card:hover {
        background-color: rgba(255,255,255,0.1);
        transform: scale(1) translateY(-20px);
        transition: .2s all ease;
        z-index: 400;
    }

.contact-card {
    border-radius: 0.6rem;
    transition: .2s all ease;
    transform: scale(0.97);
    perspective: 900px;
    box-shadow: var(--shadow);
    z-index: 20;
}

    .contact-card:hover {
        background-color: rgba(255,255,255,0.1);
        transform: scale(1) translateY(-15px);
        transition: .2s all ease;
        z-index: 400;
    }
.file-link {
	width: 150px;
	text-align: center;
	word-wrap: break-word;
	margin: 10px;
}
.course-list{
	width: 90%;
	margin: 15px auto;
}
.course-table{
	text-align: center;
	table-layout: fixed;
	width: 90%;
	margin: 0 auto;
	padding: 10px;
}
.course-table td{
	padding: 10px;
}
.course-table th{
	padding: 10px;
}
.course-list tbody tr:nth-child(odd) {
  background-color: var(--primary-color-clear)
}

.course-list tbody tr:nth-child(even) {
  background-color: var(--secondary-color-clear)
}